// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
img.logo{
  height: 40px;
  padding: 15px
}

img.menu{
  width: 30px;
  float: right;
  padding: 15px
}
