.main-menu{
  margin-top: 100px;

}

.contents {
  color: #262626;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 12px;
  max-width: 350px;

}

.form{
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 1px;
  margin: 0 0 10px;
  padding: 10px 0;
}


img.logo-nav{
  background-color: white;
}

.navbar-default {
  background-color: #ffffff;
}
